{% load humanize %}

<tr>
    <input type="hidden" name="item_id" value="{{ item.id }}" />
    <td>
        <select class="form-select" name="item_envelope">
            <option value="" {% if not item %}selected{% endif %}></option>
            {% for envelope in envelopes %}
                <option
                    value="{{ envelope.id }}"
                    {% if envelope == item.envelope %}selected{% endif %}
                >{{ envelope.name }}</option>
            {% endfor %}
        </select>
    </td>
    <td>
        <div class="input-group">
            <span class="input-group-text">$</span>
            <input class="form-control"
                name="item_amount"
                value="{{ item.amount }}"
                type="number"
                step=".01"
                inputmode="decimal"
                autocomplete="off"
            />
        </div>
    </td>
    <td>
        <input class="form-control"
            name="item_description"
            value="{{ item.description }}"
        />
    </td>
</tr>
