<tr>
    <td>
        <select>
        {% if not entry %}
            <option value="" selected></option>
        {% endif %}
        {% for account in accounts %}
            <option
                value="{{ account.id }}"
                {% if account == entry.account %}selected{% endif %}
            >{{ account.name }}</option>
        {% endfor %}
        </select>
    </td>
    <td>$<input type="number" step=".01" name="entry_amount" value="{{ entry.amount }}" /></td>
    <td><input name="entry_description" value="{{ entry.description }}"</td>
</tr>
