{% extends 'unclebudget/base.html' %}

{% load humanize %}

{% block 'title' %}{{ account.name }}{% endblock %}

{% block 'content' %}

<div class="row">
    <div class="col-8">
        <h1>{{ account.name }}</h1>

        <h2>${{ account.balance|intcomma }}</h2>

        <h3>Entries</h3>

        <table>
        <thead>
            <th>Date</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Balance</th>
        </thead>
        {% for entry in entries %}
            <tr>
                <td>{{ entry.date|date:"m/d/y" }}</td>
                <td>${{ entry.amount|intcomma }}</td>
                <td class="entry-description">{{ entry.description }}</td>
                <td>${{ entry.ongoing_balance|intcomma }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
    <div class="col-4">
        {% include 'unclebudget/partials/account_list.html' %}
    </div>
</div>

{% endblock %}
