{% extends 'unclebudget/base.html' %}

{% load humanize %}

{% block 'title' %}{{ account.name }}{% endblock %}

{% block 'content' %}

<h1>{{ account.name }}</h1>

<h2>${{ account.balance|intcomma }}</h2>

<h3>Entries</h3>

<table>
<thead>
    <th>Date</th>
    <th>Amount</th>
    <th>Description</th>
    <th>Receipt</th>
</thead>
{% for entry in account.entry_set.all %}
    <tr>
        <td>{{ entry.date|date:"m/d/y" }}</td>
        <td>${{ entry.amount|intcomma }}</td>
        <td>{{ entry.description }}</td>
        <td><a href="{% url 'receipt' entry.receipt.id %}">receipt</a></td>
    </tr>
{% endfor %}
</table>

{% endblock %}
