{% extends 'unclebudget/base.html' %}

{% block 'title' %}{{ account.name }}{% endblock %}

{% block 'content' %}

<h1>{{ account.name }}</h1>

<h2>${{ account.balance }}</h2>

<h3>Entries</h3>

<table>
<thead>
    <th>Date</th>
    <th>Amount</th>
    <th>Description</th>
</thead>
{% for entry in account.entry_set.all %}
    <tr>
        <td>{{ entry.date|date:"m/d/y" }}</td>
        <td>${{ entry.amount }}</td>
        <td>{{ entry.description }}</td>
    </tr>
{% endfor %}
</table>

{% endblock %}
