{% extends 'unclebudget/base.html' %}

{% load humanize %}

{% block 'title' %}All{% endblock %}

{% block 'content' %}

{% if to_process %}
<div class="row">
    <div class="col">
        <p>You have {{ to_process|length }} entries to process.</p>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col">
        <h1>Envelopes <a href="{% url 'envelope-create' %}">+</a></h1>
        {% include 'unclebudget/partials/balance_table.html' with objects=envelopes total_balance=envelopes_balance %}
    </div>
    <div class="col">
        <h1>Accounts</h1>
        {% include 'unclebudget/partials/balance_table.html' with objects=accounts total_balance=accounts_balance %}
    </div>
</div>

{% endblock %}
