{% extends 'unclebudget/base.html' %}

{% load humanize %}

{% block 'title' %}{{ envelope.name }}{% endblock %}

{% block 'content' %}

<div class="row">
    <div class="col-8">
        <h1>{{ envelope.name }}</h1>

        <p>{{ envelope.description }}</p>

        <table class="table table-striped">
            <thead>
                <th>Amount</th>
                <th>Description</th>
                <th>Entry</th>
            </thead>
            {% for item in envelope.item_set.all %}
                <tr>
                    <td>${{ item.amount|intcomma }}</td>
                    <td>{{ item.description }}</td>
                    <td class="entry-description">
                        <a href="{{ item.entry.get_absolute_url }}">
                            {{ item.entry.description }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-4">
        <h2>Envelopes</h2>
        {% include 'unclebudget/partials/balance_table.html' with objects=envelopes %}
    </div>
</div>

{% endblock %}
