{% extends 'unclebudget/base.html' %}

{% load humanize %}

{% block 'title' %}{{ envelope.name }} {{ title }}{% endblock %}

{% block 'content' %}

<div class="row">
    <div class="col-12">
        <h1>{{ envelope.name }} {{ title }}</h1>

        <table class="table table-striped">
            <thead>
                <th>Amount</th>
                <th>Description</th>
                <th>Entry</th>
            </thead>
            {% for item in items %}
                <tr>
                    <td>${{ item.amount|intcomma }}</td>
                    <td>{{ item.description }}</td>
                    <td class="entry-description">
                        <a href="{{ item.entry.get_absolute_url }}">
                            {{ item.entry.description }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}
