{% extends 'unclebudget/base.html' %}

{% load humanize %}

{% block 'title' %}{{ envelope.name }}{% endblock %}

{% block 'content' %}

<div class="row">
    <div class="col-8">
        <h1>{{ envelope.name }}</h1>

        <p>{{ envelope.description }}</p>

        <table>
            <thead>
                <th>Amount</th>
                <th>Description</th>
                <th>Entry</th>
            </thead>
            {% for item in envelope.item_set.all %}
                <tr>
                    <td>${{ item.amount|intcomma }}</td>
                    <td>{{ item.description }}</td>
                    <td class="entry-description">
                        {{ item.entry.description }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-4">
        {% include 'unclebudget/partials/envelope_list.html' %}
    </div>
</div>

{% endblock %}
