{% extends 'unclebudget/base.html' %}

{% block 'title' %}{{ account.name }}{% endblock %}

{% block 'content' %}

<h1>Expect</h1>

<form method="post">
    {% csrf_token %}

    <div class="mb-3">
        <label class="form-label fs-3" for="account">Account</label>
        <select class="form-select form-select-lg"
            name="account"
            id="account"
        >
            <option value="" selected></endif>
            {% for account in accounts %}
                <option
                    value="{{ account.id }}"
                >{{ account.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label fs-3" for="amount">Amount</label>
        <div class="input-group">
            <span class="input-group-text">$</span>
            <input class="form-control form-control-lg"
                name="amount"
                id="amount"
                type="number"
                step="0.01"
                min="0"
                inputmode="decimal"
                autocomplete="off"
            />
        </div>
    </div>

    <div class="mb-3">
        <h3>Envelopes</h3>
        <table class="table table-striped">
            <th>Envelope</th>
            <th>Amount</th>
            <th>Description</th>

            {% include './partials/entry_item.html' %}
        </table>
    </div>
</form>

{% endblock %}
