{% extends 'unclebudget/base.html' %}

{% load humanize %}

{% block 'title' %}Summary{% endblock %}

{% block 'content' %}

{% if to_process %}
<div class="row">
    <div class="col">
        <p>You have {{ to_process|length }} entries to process.</p>
    </div>
</div>
{% endif %}

<h1>Summary</h1>

<div class="row">
    <div class="col">
        <h2>Pinned</h2>

        <table>
            <thead>
                <th>Envelope</th>
                <th>Balance</th>
            </thead>

            {% for envelope in pinned %}
                <tr>
                    <td><a href="{{ envelope.get_absolute_url }}">{{ envelope.name }}</a></td>
                    <td>${{ envelope.balance|intcomma }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col">
        <h2>Negative</h2>

        <table>
            <thead>
                <th>Envelope</th>
                <th>Balance</th>
            </thead>

            {% for envelope in negative %}
                <tr>
                    <td><a href="{{ envelope.get_absolute_url }}">{{ envelope.name }}</a></td>
                    <td>${{ envelope.balance|intcomma }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}
