{% extends 'unclebudget/base.html' %}

{% load humanize %}

{% block 'title' %}Summary{% endblock %}

{% block 'content' %}

{% if to_process|length %}
<div class="row">
    <div class="col">
        {{ to_process|length }} receipts to process
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col">
        {% include 'unclebudget/partials/envelope_list.html' %}
    </div>
    <div class="col">
        {% include 'unclebudget/partials/account_list.html' %}
    </div>
</div>

{% endblock %}
