{% extends 'unclebudget/base.html' %}

{% load humanize %}

{% block 'title' %}Summary{% endblock %}

{% block 'content' %}

<div class="row">
    <div class="col">
      <p class="mt-2">{% if to_process %} You have {{ to_process|length }} entries to process.{% endif %} Last update: {{ latest_date }}</p>
    </div>
</div>

<h1>Summary</h1>

<div class="row">
    <div class="col">
        <h2>Pinned</h2>
        {% include 'unclebudget/partials/balance_table.html' with objects=pinned %}
    </div>
    <div class="col">
        <h2>Negative</h2>
        {% include 'unclebudget/partials/balance_table.html' with objects=negative %}
    </div>
</div>

{% endblock %}
